---
layout: base
title: Home
tags: page
order: 1
---

<!-- Shortcode in use -->
{% headers "Home", "Learning SSG" %}
<h1>My Eleventy Site (./src/index.liquid)</h1>
I am a site made with <a href="https://www.11ty.io">Eleventy</a>

<img src="/assets/images/bordercollie1.jpg" alt="">
