<!-- _includes/partials/_navigation.liquid -->
<header class="fixed top-0 w-full bg-gray-500 overflow-hidden float-left">
    <nav class="m-auto max-w-max text-lg p-8">
        {%- for item in collections.page -%}
            <a class="px-4 py-4 bg-orange-100 text-black border-black border-4 hover:animate-bounce 
               hover:bg-orange-500 m-2" href="{{ item.url }}"
               {% if item.url == page.url %}
                   aria-current='page' data-state='active'
           {% endif %}
               class="hover:text-orange-400">
                &#129418;{{item.data.title}}</a>
        {%- endfor -%}
    </nav>
</header>
