{% assign previousPost = collections.post | getPreviousCollectionItem %}
{% assign nextPost = collections.post | getNextCollectionItem %}

<div class="inline-block ">
    <div class="">
        {% if previousPost %}Previous: <a href="{{previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}
    </div>
    <div class="">
        {% if nextPost %}Next: <a href="{{nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}
    </div>
</div>
